.DS_Store
**/__pycache__/
**/.mypy_cache/
**/.hypothesis/
**/.coverage
**/.coverage.*
**/coverage.xml
**/htmlcov/
**/.pytest_cache/
**/.ruff_cache/
**/.venv/
**/venv/
**/env/
**/dist/
**/build/
**/*.egg-info/
*.log
.env
.env.*
.idea/
.vscode/
